{{ form_start(form) }}
{#
{{ form_widget(form) }}
#}

{{ form_row(form.nome) }}

{{ form_row(form.diaria) }}

{{ form_row(form.tipo) }}

<div class="form-group">
    {{ form_label(form.descricao) }}
    {{ form_widget(form.descricao) }}
    {{ form_errors(form.descricao) }}
</div>

    <button class="btn btn-primary">Salvar</button>
{{ form_end(form) }}